body {
    font-family: "ZapfHumnst BT", Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
    background-color: #f9f9f9;
    padding: 20px;
}

h1, h2, h3 {
    color: #2c3e50;
}

a {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
}
